!!!loose
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Readme This : Testing github's README formats
    %link{:href => '/stylesheets/master.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #main
      #header
        .wrapper
          .logo
            %a{:href => '/'}
              %span.blue Readme
              %span.orange This
          .slogan Test your github README format without committing.
          %ul.menu
            %li{:class => ('active' if request.path_info == '/')} <a href="/">New Readme</a>
      #content.wrapper
        =yield
      #push
    #footer
      .wrapper
        .info
          Created by <a href="http://twitter.com/RichGuk">@RichGuk</a>.
          %br
          Design is copied from <a href="http://github.com/">Github</a>. The code can be found on my <a href="http://github.com/RichGuk/readme-this">github account</a> and is released under the MIT licence.
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-2160161-6");
      pageTracker._trackPageview();
      } catch(err) {}