.box{:style => 'background: #EAF2F5'}
  %p Below is an example of how this README file might look when it's put into your Github repo.
  %p==You can show other people using this URL: <a href="http://readme-this.27smiles.com/#{@readme.private_id || @readme.id}">http://readme-this.27smiles.com/#{@readme.private_id || @readme.id}</a>

#readme{:style => 'margin-top: 2em'}
  .wikistyle
    ~ @contents